<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 基本表单</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__ADMIN__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/style.min-v=4.1.0.css" rel="stylesheet">
    <link rel="stylesheet" href="__ADMIN__/src/css/layui.css">
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>大转盘
                        <small>新增</small>
                    </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" action="{:url('index/slyderAdventures',array('flag'=>'add'))}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">活动标题</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="activetitle" required>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">每人可抽奖次数 </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="limit_collar" required>
                                <span class="help-block m-b-none">每次/每个时间段</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">奖项礼品</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="prize" required>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">奖项概率</label>

                            <div class="col-sm-10">
                                <input type="text" placeholder="奖项概率0-100之间的数字，俩位小数" class="form-control" name="probability" required>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group" >
                            <label class="col-sm-2 control-label">活动时间段</label>
                            墨绿主题：
                            <div class="layui-inline">
                                <input type="text" class="layui-input" id="test6-1">
                            </div>
                            <div class="col-sm-10">
                                <input class="form-control layer-date" name="time[]" style="width: 45%;float: left;" type="text"   placeholder="请输入活动开始时间 如：08:00"/>
                                <input class="form-control layer-date" name="time[]" type="text" style="width: 45%;float:left;margin: 0px 10px;"  placeholder="请输入活动结束时间 如：14:00"/>
                                <div class="input-group-btn">
                                    <button  class="btn btn-white" type="button" onclick="show1()">添加时间段</button>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" id="time1" style="display: none">
                            <label class="col-sm-2 control-label">活动时间段</label>
                            <div class="col-sm-10">
                                <input class="form-control layer-date" name="time1[]" style="width: 45%;float: left;" type="text"   placeholder="请输入活动开始时间 如：08:00"/>
                                <input class="form-control layer-date" name="time1[]" type="text" style="width: 45%;float:left;margin: 0px 10px;"  placeholder="请输入活动结束时间 如：14:00"/>
                                <div class="input-group-btn">
                                    <button  class="btn btn-white" type="button" onclick="show2()">添加时间段</button>
                                </div>
                            </div>
                        </div>


                        <div class="form-group" id="time2" style="display: none">
                            <label class="col-sm-2 control-label">活动时间段</label>
                            <div class="col-sm-10">
                                <input class="form-control layer-date"  name="time2[]" style="width: 45%;float: left;" type="text"   placeholder="请输入活动开始时间 如：08:00"/>
                                <input class="form-control layer-date" name="time2[]" type="text" style="width: 45%;float:left;margin: 0px 10px;"  placeholder="请输入活动结束时间 如：14:00"/>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存内容</button>
                                <button class="btn btn-white" type="button" onclick="jump()">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="__ADMIN__/js/content.min-v=1.0.0.js"></script>
<script src="__ADMIN__/js/plugins/iCheck/icheck.min.js"></script>
<script src="__ADMIN__/src/layui.js" charset="utf-8"></script>
<script>
    $(document).ready(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",})
    });
    function jump() {
        window.location.href="{:url('index/slyderAdventures')}";
    }
    function show1() {
        document.getElementById('time1').style.display = 'block';
    }
    function show2() {
        document.getElementById('time2').style.display = 'block';
    }
</script>
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //双控件
        laydate.render({
            elem: '#test1' //指定元素
            ,type: 'datetime'
            ,trigger: 'click'
            ,lang: 'en'
            //,lang: 'en'
            ,range: true //开启日期范围，默认使用“_”分割
            ,done: function(value, date, endDate){
                console.log(value, date, endDate);
            }
            ,change: function(value, date, endDate){
                console.log(value, date, endDate);
            }
        });

        //单控件
        laydate.render({
            elem: '#test2'
            //,format: 'yyyy年MM月dd日'
            //,value: new Date(1989,9,14)
            ,isInitValue: false
            ,format: 'yyyyMMdd'
            ,value: '20170910'

            //,max: 0
            //,min: '2016-10-14'
            //,max: -1
            //,value: '1989年10月14日'
            ,ready: function(date){
                console.log(date);
            }
            ,done: function(value, date, endDate){
                console.log(value, date, endDate);
            }
        });

        //年选择器
        laydate.render({
            elem: '#test3'
            ,type: 'year'
            //,range: true
            //,trigger: 'click'
            ,done: function(value, date, endDate){
                console.log(value, date, endDate);
            }
            ,change: function(value, date, endDate){
                //this.elem.val(value)
            }
        });

        //年月选择器
        laydate.render({
            elem: '#test4'
            ,type: 'month'
            ,range: true
            //,trigger: 'click'
            ,max: -30
            ,done: function(value, date, endDate){
                console.log(value, date, endDate);
            }
            ,change: function(value, date, endDate){
                this.elem.val(value)
            }
        });

        //时间选择器
        laydate.render({
            elem: '#test5'
            ,type: 'time'
            //,range: true
            //,trigger: 'click'
            ,min: '09:30:00'
            ,max: '17:30:00'
            ,done: function(value, date, endDate){
                console.log(value, date, endDate);
            }
            ,change: function(value, date, endDate){
                //this.elem.val(value)
            }
        });

        //时间范围选择器
        laydate.render({
            elem: '#test55'
            ,type: 'time'
            ,range: true
            //,trigger: 'click'
            ,done: function(value, date, endDate){
                console.log(value, date, endDate);
            }
        });

        //同时绑定多个
        lay('.test-item').each(function(){
            laydate.render({
                elem: this
                ,trigger: 'click'
            });
        });

        //自定义重要日
        var ins555 = laydate.render({
            elem: '#test555'
            //,calendar: true //是否开启公历重要节日
            ,mark: { //标记重要日子
                '0-8-15': '纪念' //0代表：每年
                ,'0-0-15': '中旬'
                ,'2017-8-20': '发布'
                ,'2017-8-31': '月底'
            }
            ,done: function(value, date, endDate){
                if(date.year == 2017 && date.month == 8 && date.date == 15){
                    //console.log('中国人民战胜日本法西斯纪念日');
                }
            }
            ,change: function(value, date, endDate){
                console.log(value)
            }
        });

        //墨绿主题
        laydate.render({
            elem: '#test6-1' //指定元素
            ,type: 'datetime'
            ,theme: 'molv'
            ,value: 20180115
            ,isInitValue: true
            //,range: true
            ,trigger: 'click'
        });

        //自定义背景色主题
        laydate.render({
            elem: '#test6-2' //指定元素
            ,type: 'datetime'
            ,theme: '#393D49'
            //,range: true
            ,trigger: 'click'
        });

        //格子主题
        laydate.render({
            elem: '#test6-3' //指定元素
            //,type: 'datetime'
            ,theme: 'grid'
            //,range: true
            ,trigger: 'click'
        });

        //其它元素触发
        laydate.render({
            elem: '#test6' //指定元素
            ,eventElem: '#test7' //绑定执行事件的元素
            ,lang: 'en'
        });

        //外部事件
        lay('#test9').on('click', function(e){
            laydate.render({
                elem: '#test8'
                ,type: 'datetime'
                ,show: true
                //,min: '2017-08-12 00:10:00'
                //,max: '2017-08-12 23:10:10'
                ,closeStop: '#test9' //点击 #test6 所在元素区域不关闭控件
                ,change: function(value, date){
                    console.log(value, date)
                }
                ,done: function(value, date){
                    console.log(value, date)
                }
            });
        });

        //直接嵌套在指定容器中
        var ins10 = laydate.render({
            elem: '#test10'
            ,position: 'static'
            ,calendar: true //是否开启公历重要节日
            ,mark: { //标记重要日子
                '2017-8-20': ''
                ,'2017-8-21': ''
            }
            ,done: function(value, date, endDate){
                if(date.year == 2017 && date.month == 8 && date.date == 20){
                    ins10.hint('XX活动日');
                }
            }
            ,change: function(value, date, endDate){
                console.log(value)
            }
        });

        laydate.render({
            elem: '#test11'
            ,position: 'static'
            ,lang: 'en'
            ,type: 'datetime'
            ,calendar: true //是否开启公历重要节日
            ,done: function(value, date, endDate){
                //console.log(value, date, endDate);
            }
            ,change: function(value, date, endDate){
                console.log(value)
            }
        });
    });
</script>
</body>

</html>
