<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 数据表格</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">

    <!-- Data Tables -->
    <link href="__ADMIN__/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/style.min-v=4.1.0.css" rel="stylesheet">

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>代理列表</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    {if condition=" $level ==1"}
                    {else /}
                    <div class="">
                        <a  href="{:url('index/setdeputy',array('flag'=>'add'))}" class="btn btn-primary ">添加</a>
                    </div>
                    {/if}
                    <table class="table table-striped table-bordered table-hover " id="editable">
                        <thead>
                        <tr>
                            <th>代理序号</th>
                            <th>代理名称</th>
                            <th>代理电话</th>
                            <th>代理省市区</th>
                            <th>代理等级</th>
                            <!--<th>状态</th>-->
                            <th>创建时间</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        {empty name="$data"}
                        {else /}
                        {volist name='data' id="vo"}
                        <tr class="">
                            <td>{$vo.deputy_id}</td>
                            <td>{$vo.deputy_name}</td>
                            <td>
                                {$vo.phone}
                            </td>
                            <td>{$vo.position}</td>
                            <td>{$vo.level == 1?'分公司':'普通代理'}</td>
                            <!--<td>{$vo.status == 1?'开启':'封禁'}</td>-->
                            <td>{$vo.created_at|date="Y-m-d H:i:s",###}</td>
                            <td>
                                <span><a href="{:url('index/setdeputy',array('flag'=>'update','deputy_id'=>$vo['deputy_id']))}">编辑</a></span>
                                |<span>
                                <a href="{:url('index/deldeputy',array('deputy_id'=>$vo['deputy_id']))}">删除</a>
                                <!--{if condition=" $vo['status'] == 1 "}-->
                                <!--<a onclick="return fengjin()">封禁</a>-->
                                <!--{else /}-->
                                <!--<a onclick="return jiefeng()">解封</a>-->
                                <!--{/if}-->
                            </span>
                            </td>
                            <!--<td>Internet Explorer 4.0-->
                            <!--</td>-->
                            <!--<td>Win 95+</td>-->
                            <!--<td class="center">4</td>-->
                            <!--<td class="center">X</td>-->
                        </tr>
                        {/volist}
                        {/empty}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="__ADMIN__/js/plugins/jeditable/jquery.jeditable.js"></script>
<script src="__ADMIN__/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="__ADMIN__/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="__ADMIN__/js/content.min-v=1.0.0.js"></script>
<script>
    $(document).ready(function () {
        $(".dataTables-example").dataTable();
        var oTable = $("#editable").dataTable();
        // oTable.$("td").editable("../example_ajax.php", {
        //     "callback": function (sValue, y) {
        //         var aPos = oTable.fnGetPosition(this);
        //         oTable.fnUpdate(sValue, aPos[0], aPos[1])
        //     }, "submitdata": function (value, settings) {
        //         return {"row_id": this.parentNode.getAttribute("id"), "column": oTable.fnGetPosition(this)[2]}
        //     }, "width": "90%", "height": "100%"
        // })
    });

    function fnClickAddRow() {
        $("#editable").dataTable().fnAddData(["Custom row", "New row", "New row", "New row", "New row", "New row", "New row"])
    };
    // function fengjin() {
    //     if(confirm('确定要封禁吗')){
    //         alert(11);
    //     }
    // }
    // function jiefeng() {
    //     if(confirm('确定要封禁吗')){
    //         alert(11);
    //     }
    // }
</script>


</body>

</html>
