<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 高级表单</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__ADMIN__/css/style.min-v=4.1.0.css" rel="stylesheet">
    <link href="__ADMIN__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__ADMIN__/src/css/layui.css">
    <link href="__ADMIN__/src/css/modules/layer/default/layer.css" rel="stylesheet">
    <!-- 引用控制层插件样式 -->
    <link rel="stylesheet" href="__ADMIN__/file_img/control/css/zyUpload.css" type="text/css">
    <style type="text/css">
        #allmap {
            width: 100%;
            height: 100%;
        }
        .map_input{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100;
            width: 100%;
            height: 40px;
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=wTncBH1sbMnqGVr3fmcgt7I4GTM83GcW"></script>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>商品
                        <small>修改</small>
                    </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" action="{:url('index/setgoods',array('flag'=>'update','goods_id'=>$data['goods_id']))}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="goods_name" value="{$data.goods_name}" required>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品库存 </label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" name="stock"  value="{$data.stock}" required>

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品价格 </label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" name="price"  value="{$data.price}" required>

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品简介 </label>
                            <div class="col-sm-10">
                                <textarea cols="50" rows="10" name="goods_desc" style="padding-left: 5px;padding-top: 5px;text-align: left;">{$data.goods_desc}</textarea>

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品排序</label>

                            <div class="col-sm-10">
                                <input type="number" class="form-control" name="sort" value="{$data.sort}" required>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">商品分类 </label>
                            <div class="col-sm-10">
                                <select name="type_id">
                                    {volist name="list" id="vo"}
                                    <option value="{$vo.type_id}" {if condition=" $data['type_id'] == $vo['type_id'] "}selected
                                    {else /}{/if}>{$vo.type_name}</option>
                                    {/volist}
                                </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div id="file-pretty" style="min-height:200px;">
                            <div class="form-group">
                                <label class="font-noraml col-sm-2 control-label">上传图片</label>
                            </div>
                            <div id="demo" class="demo" style="height:200px;"></div>
                            <!--<div class="form-group">-->
                            <!--<label class="font-noraml">文件选择（多选）</label>-->
                            <!--<input type="file" multiple="multiple" class="form-control">-->
                            <!--</div>-->
                            <input type="hidden" id='hiddepic' name="pics" value="">
                            <input type="hidden"  name="pic_arr" value="{$data.pic_arr}">
                        </div>
                        <div>



                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存内容</button>
                                <button class="btn btn-white" type="button" onclick="jump()">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="__ADMIN__/js/content.min-v=1.0.0.js"></script>
<script src="__ADMIN__/src/lay/modules/layer.js" charset="utf-8"></script>
<script type="text/javascript" src="__ADMIN__/file_img/jquery-1.7.2.js"></script>
<!-- 引用核心层插件 -->
<script type="text/javascript" src="__ADMIN__/file_img/core/zyFile.js"></script>
<!-- 引用控制层插件 -->
<script type="text/javascript" src="__ADMIN__/file_img/control/js/zyUpload.js"></script>
<!-- 引用初始化JS -->
<script type="text/javascript" src="__ADMIN__/file_img/demo.js"></script>
<!--<script src="__ADMIN__/js/plugins/chosen/chosen.jquery.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/jsKnob/jquery.knob.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/jasny/jasny-bootstrap.min.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/datapicker/bootstrap-datepicker.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/nouslider/jquery.nouislider.min.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/switchery/switchery.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/iCheck/icheck.min.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/metisMenu/jquery.metisMenu.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/clockpicker/clockpicker.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/cropper/cropper.min.js"></script>-->
<!--<script src="__ADMIN__/js/demo/form-advanced-demo.min.js"></script>-->
<script>
    function jump() {
        window.location.href="{:url('index/setgoods')}";
    }
</script>
</body>

</html>
