{include file="common/header" /}

<body style="background-color: #F4F4F4;">
    <div class="address">
        <div class="dl clearfixed">
            <div class="dt li">
                <div class="pTRBL">
                    <div class="clearfixed">
                        <div class="li">名字</div>
                        <div class="li left15">13649877522</div>
                    </div>
                    <div class="gray ellipsis top">地址地址地址地址</div>
                </div>
            </div>
            <div class="dd clearfixed li">
                <div class="li shpopedits">修改</div>
                <div class="li shpopdelet">删除</div>
            </div>
        </div>
        <div class="dl clearfixed">
            <div class="dt li">
                <div class="pTRBL">
                    <div class="clearfixed">
                        <div class="li">名字</div>
                        <div class="li left15">13649877522</div>
                    </div>
                    <div class="gray ellipsis top">地址地址地址地址</div>
                </div>
            </div>
            <div class="dd clearfixed li">
                <div class="li shpopedits">修改</div>
                <div class="li shpopdelet">删除</div>
            </div>
        </div>
        <div class="dl clearfixed">
            <div class="dt li">
                <div class="pTRBL">
                    <div class="clearfixed">
                        <div class="li">名字</div>
                        <div class="li left15">13649877522</div>
                    </div>
                    <div class="gray ellipsis top">地址地址地址地址</div>
                </div>
            </div>
            <div class="dd clearfixed li">
                <div class="li shpopedits">修改</div>
                <div class="li shpopdelet">删除</div>
            </div>
        </div>
        <div class="shopBtn">+添加地址</div>
    </div>
    {include file="common/footer" /}