{include file="common/header" /}

<body style="background-color: #F4F4F4;">
    <div class="address" style="width: 100%;">
        {notempty name="$data"}
        {volist name="data" id="vo"}
        <div class="dl clearfixed" style="border-bottom: 1px solid #eee;">
            <div class="dt li">
                <div class="pTRBL" onclick="getaddress({$vo['address_id']},'{$url}',{$orderid})">
                    <div class="clearfixed">
                        <div class="li">{$vo.name}</div>
                        <div class="li left15">{$vo.phone}</div>
                    </div>
                    <div class="gray ellipsis top">{$vo.position}{$vo.address}</div>
                </div>
            </div>
            <div style="clear: both"></div>
            <div class="dd li" style="width:50%;background: #fff;">
                <div  style="float: right;line-height: 36px;width: 30px;margin-right: 30px;"><a
                        onclick="return del({$vo['address_id']});"
                >删除</a></div>
                <div  style="float: right;line-height: 36px;width: 30px;margin-right: 10px;">
                    <a href="{:url('index/address',array('address_id'=>$vo['address_id'],'flag'=>'update','url'=>$url,'order_id'=>$orderid))}">修改</a>
                </div>
            </div>
        </div>
        {/volist}
        {/notempty}
        <div class="shopBtn" onclick="jumpurl();">+添加地址</div>
    </div>
    <script>
function jumpurl(){
    window.location.href = "{:url('index/address',array('flag'=>'add','url'=>$url,'order_id'=>$orderid))}";
}
function del(id)
{
    if(confirm('确定要删除吗')){
        $.ajax({
            type:'post',
            url:"{:url('index/deladdress')}",
            data:{'address_id':id},
            dataType:'json',
            success:function(data){
                if(data.code==200) {
                    layer.msg(data.msg);
                    setTimeout(function () {
                        window.location.reload();
                    }, 1000);
                }else{
                    layer.msg(data.msg);

                }
            },
            error:function(data){
                console.log(data);
            }
        })
    }
}

function getaddress(id,url,orderid) {
    window.location.href = "http://www.yilingjiu.cn/index/index/"+url+"?address_id="+id+"&order_id="+orderid;
}
        </script>
    {include file="common/footer" /}