{include file='common/header' /}

<body style="background-color: #F4F4F4;">
    <div class="shopTop clearfixed">
        <div class="li blackImg"><img src="__IMG__/black.png" alt=""></div>
        <div class="topTitle li">选项卡</div>
    </div>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="__IMG__/rule_popups.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="__IMG__/rule_popups.png" alt="">
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="businessTitel paddingTrbl">本地联盟</div>
    <div class="shopListBox">
        <div class="dl">
            <a href="#">
            <div class="dt clearfixed">
                <div class="li shopListImg">
                    <img src="__IMG__/rule_popups.png" alt="">
                </div>
                <div class="shopListext li">
                    <div class="shopListname ellipsis">商店名字</div>
                    <div class="shopListnum clearfixed">
                        <div class="li">会员卡</div>
                    </div>
                    <div class="clearfixed">
                        <div class="clearfixed li shopListTime redT">
                            <div class="li">地址:</div>
                            <div class="li">哈尔滨市香坊区</div>
                        </div>
                        
                    </div>
                    <div class="shopListnum clearfixed">
                        <div class="li">商家电话:</div>
                        <div class="li ellipsis">13216489756</div>
                        <div class="li fr gray">距离<span>3.4</span>km</div>
                    </div>
                </div>
            </div>
            </a>
        </div>
        <div class="dl top">
            <a href="#">
            <div class="dt clearfixed">
                <div class="li shopListImg">
                    <img src="__IMG__/rule_popups.png" alt="">
                </div>
                <div class="shopListext li">
                    <div class="shopListname ellipsis">商店名字:</div>
                    <div class="shopListnum clearfixed">
                        <div class="li">会员卡</div>
                    </div>
                    <div class="clearfixed">
                        <div class="clearfixed li shopListTime redT">
                            <div class="li">地址:</div>
                            <div class="li">哈尔滨市香坊区</div>
                        </div>
                        
                    </div>
                    <div class="shopListnum clearfixed">
                        <div class="li">商家电话:</div>
                        <div class="li ellipsis">13216489756</div>
                        <div class="li fr gray">距离<span>3.4</span>km</div>
                    </div>
                </div>
            </div>
            </a>
        </div>
    </div>
    {include file="common/header" /}