{include file='common/header' /}

<body>
    <div class="shopTop clearfixed">
        <div class="li blackImg"><img src="img/black.png" alt=""></div>
        <div class="topTitle li">会员卡详情</div>
    </div>
    <div class="orange">
        会员卡详情
    </div>
    <div class="cardDetailsCon">
        <div class="cardName cen">店铺名字</div>
        <div class="balance">余额: <span>12.0</span>元</div>
        <div class="dl">
            <div class="dt clearfixed">
                <div class="li square"></div>
                <div class="li">使用条件</div>
            </div>
        </div>
        <div class="dl">
            <div class="dt clearfixed">
                <div class="li square"></div>
                <div class="li">适用门店</div>
            </div>
            <div class="dd">中央大街(通江街99)</div>
            <div class="dd">全门店通用</div>
        </div>
        <div class="dl">
            <div class="dt clearfixed">
                <div class="li square"></div>
                <div class="li">使用须知</div>
            </div>
            <div class="dd gray">有效期</div>
            <div class="dd">2016-02-30</div>
            <div class="dd gray">使用条件</div>
            <div class="dd">订单满50元</div>
            <div class="dd gray">温馨提示</div>
            <div class="dd">无需预约,高峰可能等位</div>
        </div>
    </div>
    {include file='common/footer' /}