{include file='common/header' /}

<body style="background-color: #F4F4F4;">
    <div class="detail">
        <div class="ul clearfixed title">
            <div class="li gr">订单详情</div>
        </div>
        <div class="ul clearfixed">
            <div class="li">商品详情</div>
            <div class="li gr fr">活动支付</div>
        </div>
        <div class="ul clearfixed">
            <div class="li">订单编号</div>
            <div class="li gr fr">5468974633577654</div>
        </div>
        <div class="ul clearfixed">
            <div class="li">商家名字</div>
            <div class="li gr fr">壹零玖</div>
        </div>
        <div class="ul clearfixed">
            <div class="li">商品价格</div>
            <div class="li bl fr">￥ <span>2.00</span>元</div>
        </div>
        <div class="ul clearfixed top">
            <div class="li">还需支付</div>
            <div class="li bl fr">￥ <span>2.00</span>元</div>
        </div>
        <div class="ul clearfixed title">
            <div class="li gr">支付订单方式</div>
        </div>
        <div class="ul clearfixed">
            <div class="li">
                <div class="weixin">
                    <img src="img/weixin.png" alt="">
                </div>
            </div>
            <div class="li">
                <div>微信支付</div>
                <div class="gr wx ellipsis">微信支付,安全快捷(必须用微信内置浏览器)</div>
            </div>
            <div class="li fr">
                <div class="arrow">
                    <img src="img/arrow.png" alt="">
                </div>
            </div>
        </div>
    </div>
    {include file='common/header' /}