{include file='common/header' /}
<body style="background-color: #F4F4F4;">
    <div class="shopTop clearfixed">
        <div class="li blackImg"><img src="img/black.png" alt=""></div>
        <div class="topTitle li">优惠储值</div>
    </div>
    <div class="atm">最新商家优惠活动,广告位</div>
    <div class="tabsTop">
        <div class="clearfixed two">
            <div class="li active">
                <div class="tabBtn" onclick="tabs(this)" data-idx="0">优惠活动</div>
            </div>
            <div class="li">
                <div class="tabBtn" onclick="tabs(this)" data-idx="1">储值商家</div>
            </div>
        </div>
    </div>
    <div class="tabbodys">
        <div class="shopListBox">
            <div class="dl top discountTabs">
                <div class="discountTabsBg">
                    <div class="disTitle gray">小龙虾免费吃,大雨河畔</div>
                    <div class="disCon top">
                        <div class="disConTitle">活动说明</div>
                        <div class="disAdd clearfixed paddTb">
                            <div class="li">地址:</div>
                            <div class="li">哈尔滨市</div>
                        </div>
                        <div class="clearfixed paddTb redT">
                            <div class="li">电话:</div>
                            <div class="li">13697854683</div>
                            <div class="gray li fr">距离 <span>3.4</span>km</div>
                        </div>
                        <div class="disTime gray clearfixed paddTb">
                            <div class="li">活动时间</div>
                            <div class="li">2016-02-30-2016-12-30</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dl top discountTabs">
                <div class="discountTabsBg">
                    <div class="disTitle gray">小龙虾免费吃,大雨河畔</div>
                    <div class="disCon top">
                        <div class="disConTitle">活动说明</div>
                        <div class="disAdd clearfixed paddTb">
                            <div class="li">地址:</div>
                            <div class="li">哈尔滨市</div>
                        </div>
                        <div class="clearfixed paddTb redT">
                            <div class="li">电话:</div>
                            <div class="li">13697854683</div>
                            <div class="gray li fr">距离 <span>3.4</span>km</div>
                        </div>
                        <div class="disTime gray clearfixed paddTb">
                            <div class="li">活动时间</div>
                            <div class="li">2016-02-30-2016-12-30</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="dl top discountTabs">
                <div class="discountTabsBg">
                    <div class="disTitle gray">小龙虾免费吃,大雨河畔</div>
                    <div class="disCon top">
                        <div class="disConTitle">活动说明</div>
                        <div class="disAdd clearfixed paddTb">
                            <div class="li">地址:</div>
                            <div class="li">哈尔滨市</div>
                        </div>
                        <div class="clearfixed paddTb redT">
                            <div class="li">电话:</div>
                            <div class="li">13697854683</div>
                            <div class="gray li fr">距离 <span>3.4</span>km</div>
                        </div>
                        <div class="disTime gray clearfixed paddTb">
                            <div class="li">活动时间</div>
                            <div class="li">2016-02-30-2016-12-30</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="shopListBox hide">
            <div class="dl top">
                <a href="#">
                <div class="dt clearfixed">
                    <div class="li shopListImg">
                        <img src="img/rule_popups.png" alt="">
                    </div>
                    <div class="shopListext li">
                        <div class="shopListname ellipsis">商店名字(多门店)</div>
                        <div class="shopListnum clearfixed">
                            <div class="li">充值储蓄卡</div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
            <div class="dl top">
                <a href="#">
                <div class="dt clearfixed">
                    <div class="li shopListImg">
                        <img src="img/rule_popups.png" alt="">
                    </div>
                    <div class="shopListext li">
                        <div class="shopListname ellipsis">商店名字(多门店)</div>
                        <div class="shopListnum clearfixed">
                            <div class="li">充值储蓄卡</div>
                        </div>
                    </div>
                </div>
                </a>
            </div>
        </div>
    </div>
    {include file='common/footer' /}