{include file='common/header' /}

<body style="background-color: #F4F4F4;">
    <div class="shopTop clearfixed">
        <div class="li blackImg"><img src="__IMG__/black.png" alt=""></div>
        <div class="topTitle li">分享收益</div>
    </div>
    <div class="me">
        <div class="clearfixed">
            <div class="li">
                <div class="clearfixed">
                    <div class="li">我的积分</div>
                    <div class="li llow">{$integral}</div>
                </div>
                <div class="gray">使用积分您可以兑换更多奖品和福利</div>
            </div>
            <div class="li fr">
                <div class="integbtn llow"><a href="{:url('index/shopIndex')}">积分商城</a></div>
            </div>
        </div>
    </div>
    <div class="icon clearfixed top">
        <div class="li four">
            <a href="#">
            <div class="dl">
                <div class="dd">
                    <img src="__IMG__/bill1.png" alt="">
                </div>
                <div class="dt gray">抽奖</div>
            </div>
        </a>
        </div>
        <div class="li four">
            <a href="{:url('index/shopIndex')}">
            <div class="dl">
                <div class="dd">
                    <img src="__IMG__/bill2.png" alt="">
                </div>
                <div class="dt gray">积分商城</div>
            </div>
            </a>
        </div>
        <div class="li four">
            <a href="#">
            <div class="dl">
                <div class="dd">
                    <img src="__IMG__/bill3.png" alt="">
                </div>
                <div class="dt gray">共享商家</div>
            </div>
        </a>
        </div>
        <div class="li four">
            <a href="#">
            <div class="dl">
                <div class="dd">
                    <img src="__IMG__/bill4.png" alt="">
                </div>
                <div class="dt gray">我要加盟</div>
            </div>
        </a>
        </div>
    </div>
   <div class="shopBox top">
        <div class="clearfixed shopbor">
           {notempty name="$data"}
            {volist name="data" id="vo"}
            <div class="li">
                <a href="{:url('index/shopDetail',array('goods_id'=>$vo['goods_id']))}">
                <div class="padding15">
                    <div class="shopConTitle ellipsis bottom3">{$vo.goods_name}</div>
                    <div class="shopConidt gray ellipsis bottom3">{$vo.goods_desc}</div>
                    <div class="clearfixed bottom3">
                        <div class="li yellow font14 pr2">{$vo.price}</div>
                        <div class="li small gray itg pr2">积分</div>
                        <div class="li smallBtn yellow eca">兑换</div>
                    </div>
                        <div class="shopImg">
                            <?php
                                $pic = trim($vo['pic_arr'],',');
                                if($pic){
                                    $pic = explode(',',$pic);
                                    echo "<img src='$pic[0]' >";
                                }else{
                                    echo "<img src='__IMG__/rule_popups.png' alt=''>";
                                }
                            ?>
                        </div>
                </div>
                </a>
            </div>
            {/volist}
           {/notempty}
        </div>
    </div>
    {include file='common/footer' /}