{include file="common/header" /}
{empty name="$dzp"}
该门店未设置大转盘活动
{else /}
<div class="canvasImg" style="display: none;">
    {volist name='dzpprize' id="vo" key='k'}
       <img src="{$vo['cover']}" alt="" alt="" id="indexRain{$k-1}" data_id="6"
            data_limit_collar="{$limit_collar}" data_prizekeys ='{$prizekeys}' data_alreadynum="{$alreadynum}"
            data_type_id = "{$dzp['active_id']}" data_shop_id="{$shop_id}" data_member_id="{$member_id}" data_needpay="{$needpay}">
    {/volist}
</div>
{/empty}
<div class="main_turn">
    <div class="btns clearfixed">
        <div class="li recording" onclick="popups(this)" data-class="recording"><img src="__IMG__/recording.png" alt=""></div>
        <div class="rule fr" onclick="popups(this)" data-class="rule"><img src="__IMG__/rule.png" alt=""></div>
    </div>
    <div class="bg">
        <img src="__IMG__/bg.png" alt="">
    </div>
    <div class="more">
        <div class="clearfixed">
            <div class="li">当前门店:</div>
            <div class="li">小六子烧烤刷</div>
            <div class="li white" onclick="jump(this)" data-href="{:url('index/more')}">点击查看更多</div>
        </div>
    </div>
    <div class="limit clearfixed">
        可抽奖次数: <span>{$limit_collar}</span>次 第一次玩 <span>{$fee}</span>元 下一次玩 每一次多增加<span>{$increfee}</span>元
    </div>
    <div class="banner">
        <div class="turnplate" style="background-image:url(__IMG__/yuan.png);background-size:100% 100%;">
            <canvas class="item" id="wheelcanvas" width="516" height="516"></canvas>
            <img id="tupBtn" class="pointer tupBtn" src="__IMG__/btn.png" />
        </div>
    </div>
    <div class="infor">
        <div class="inforTitle">
            <img src="__IMG__/inforTitle.png" alt="">
        </div>
        <div class="inforCon">
            <div class="clearfixed inforUl">
                <div class="li inforImg">
                    <img src="__IMG__/yuan.png" alt="">
                </div>
                <div class="li padding1 nick ellipsis">微信昵称</div>
                <div class="li fr padding1 con ellipsis">矿泉水一瓶价值3元</div>
            </div>
            <div class="clearfixed inforUl">
                <div class="li inforImg">
                    <img src="__IMG__/yuan.png" alt="">
                </div>
                <div class="li padding1 nick ellipsis">微信昵称</div>
                <div class="li fr padding1 con ellipsis">矿泉水一瓶价值3元</div>
            </div>
            <div class="clearfixed inforUl">
                <div class="li inforImg">
                    <img src="__IMG__/yuan.png" alt="">
                </div>
                <div class="li padding1 nick ellipsis">微信昵称</div>
                <div class="li fr padding1 con ellipsis">矿泉水一瓶价值3元</div>
            </div>
            <div class="clearfixed inforUl">
                <div class="li inforImg">
                    <img src="__IMG__/yuan.png" alt="">
                </div>
                <div class="li padding1 nick ellipsis">微信昵称</div>
                <div class="li fr padding1 con ellipsis">矿泉水一瓶价值3元</div>
            </div>
            <div class="clearfixed inforUl">
                <div class="li inforImg">
                    <img src="__IMG__/yuan.png" alt="">
                </div>
                <div class="li padding1 nick ellipsis">微信昵称</div>
                <div class="li fr padding1 con ellipsis">矿泉水一瓶价值3元</div>
            </div>
        </div>
    </div>
    <div class="empty"></div>
    <div class="footerBtn">
        <div class="btnMoney tupBtn">立即抽奖</div>
    </div>
    <div id="rule" class="_popups">
        <div class="clearfixed">
            <div class="fr closex" onclick="close_popups(this)" data-class="_popups">
                <img src="__IMG__/close.png" alt="">
            </div>
        </div>
        <div class="rule_popupsImg">
            <img src="__IMG__/rule_popups.png" alt="">
        </div>
    </div>
    <div id="recording" class="_popups">
        <div class="inforCon inforPopups">
            <div class="clearfixed inforUl">
                <div class="li inforImg">
                    <img src="__IMG__/yuan.png" alt="">
                </div>
                <div class="li padding1 nick ellipsis">微信昵称</div>
                <div class="li fr padding1 con ellipsis">矿泉水一瓶价值3元</div>
            </div>
            <div class="clearfixed inforUl">
                <div class="li inforImg">
                    <img src="__IMG__/yuan.png" alt="">
                </div>
                <div class="li padding1 nick ellipsis">微信昵称</div>
                <div class="li fr padding1 con ellipsis">矿泉水一瓶价值3元</div>
            </div>
            <div class="clearfixed inforUl">
                <div class="li inforImg">
                    <img src="__IMG__/yuan.png" alt="">
                </div>
                <div class="li padding1 nick ellipsis">微信昵称</div>
                <div class="li fr padding1 con ellipsis">矿泉水一瓶价值3元</div>
            </div>
            <div class="clearfixed inforUl">
                <div class="li inforImg">
                    <img src="__IMG__/yuan.png" alt="">
                </div>
                <div class="li padding1 nick ellipsis">微信昵称</div>
                <div class="li fr padding1 con ellipsis">矿泉水一瓶价值3元</div>
            </div>
            <div class="clearfixed inforUl">
                <div class="li inforImg">
                    <img src="__IMG__/yuan.png" alt="">
                </div>
                <div class="li padding1 nick ellipsis">微信昵称</div>
                <div class="li fr padding1 con ellipsis">矿泉水一瓶价值3元</div>
            </div>
        </div>
    </div>
    <div id="popus" class="_popups" style="top:40%;">
        <div class="fr closex" onclick="close_popups(this)" data-class="_popups">
            <img src="__IMG__/close.png" alt="">
        </div>
        <div class="popupsImg">
            <img src="__IMG__/popups.png" alt="">
            <div class="popupsCon dcode">

            </div>
        </div>
    </div>

    <div class="mask" onclick="close_popups(this)" data-class="_popups"></div>
</div>
{include file="common/footer" /}