{include file='common/header' /}

<body>
    <div class="shopTop clearfixed">
        <div class="li blackImg"><img src="img/black.png" alt=""></div>
        <div class="topTitle li">我要加盟</div>
    </div>
    <div class="joinIn relative">
        <div class="joinInBg absolute">
            <img src="img/joinInBg.jpg" alt="">
        </div>
        <div class="joinInCon absolute">
            <div class="joinInConTitle">我要加盟</div>
            <div class="joinInConTitle">我要加盟,规则</div>
            <div class="joinInConText">
                
            </div>
        </div>
    </div>

    {include file='common/footer' /}