{include file='common/header' /}

<body style="background-color: #F4F4F4;">
<div class="moreAdd">
    <div class="clearfixed ulAddress">
        <div class="li">
            <div class="ol clearfixed">
                <div class="li title_name ellipsis">小六子烧烤 </div>
                <div class="li"><span class="gray">|</span> 距离 <span>3.6</span>km</div>
            </div>
            <div class="ol gray clearfixed">
                <div class="li">地址: </div>
                <span class="li addressText ellipsis">松北区学院路888号</span>
            </div>
        </div>
        <div class="li fr">
            <div class="ol yell">电话: <span>8888888888</span></div>
        </div>
    </div>
    <div class="clearfixed ulAddress">
        <div class="li">
            <div class="ol clearfixed">
                <div class="li title_name ellipsis">小六子烧烤 </div>
                <div class="li"><span class="gray">|</span> 距离 <span>3.6</span>km</div>
            </div>
            <div class="ol gray clearfixed">
                <div class="li">地址: </div>
                <span class="li addressText ellipsis">松北区学院路888号</span>
            </div>
        </div>
        <div class="li fr">
            <div class="ol yell">电话: <span>8888888888</span></div>
        </div>
    </div>
    <div class="clearfixed ulAddress">
        <div class="li">
            <div class="ol clearfixed">
                <div class="li title_name ellipsis">小六子烧烤小六子烧烤小六子烧烤小六子烧烤小六子烧烤小六子烧烤 </div>
                <div class="li"><span class="gray">|</span> 距离 <span>3.6</span>km</div>
            </div>
            <div class="ol gray clearfixed">
                <div class="li">地址: </div>
                <span class="li addressText ellipsis">松北区学院路888号</span>
            </div>
        </div>
        <div class="li fr">
            <div class="ol yell">电话: <span>8888888888</span></div>
        </div>
    </div>
</div>
{include file='common/footer' /}