<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <link rel="stylesheet" href="__CSS__/style.css" />
    <meta charset="utf-8" />
    <title>壹零玖</title>
    <link rel="stylesheet" href="__CSS__/reset.css" type="text/css" />
    <link rel="stylesheet" href="__CSS__/style.css" type="text/css" />
    <link rel="stylesheet" href="__CSS__/three.css" type="text/css" />
    <link rel="stylesheet" href="__STATIC__/dist/css/swiper.min.css">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" type="text/css" />
</head>

<body style="background-color: #F4F4F4;">
<div class="moreAdd">
    <div class="clearfixed ulAddress">
        <div class="li">
            <div class="ol clearfixed">
                <div class="li title_name ellipsis">小六子烧烤 </div>
                <div class="li"><span class="gray">|</span> 距离 <span>3.6</span>km</div>
            </div>
            <div class="ol gray clearfixed">
                <div class="li">地址: </div>
                <span class="li addressText ellipsis">松北区学院路888号</span>
            </div>
        </div>
        <div class="li fr">
            <div class="ol yell">电话: <span>8888888888</span></div>
        </div>
    </div>
    <div class="clearfixed ulAddress">
        <div class="li">
            <div class="ol clearfixed">
                <div class="li title_name ellipsis">小六子烧烤 </div>
                <div class="li"><span class="gray">|</span> 距离 <span>3.6</span>km</div>
            </div>
            <div class="ol gray clearfixed">
                <div class="li">地址: </div>
                <span class="li addressText ellipsis">松北区学院路888号</span>
            </div>
        </div>
        <div class="li fr">
            <div class="ol yell">电话: <span>8888888888</span></div>
        </div>
    </div>
    <div class="clearfixed ulAddress">
        <div class="li">
            <div class="ol clearfixed">
                <div class="li title_name ellipsis">小六子烧烤小六子烧烤小六子烧烤小六子烧烤小六子烧烤小六子烧烤 </div>
                <div class="li"><span class="gray">|</span> 距离 <span>3.6</span>km</div>
            </div>
            <div class="ol gray clearfixed">
                <div class="li">地址: </div>
                <span class="li addressText ellipsis">松北区学院路888号</span>
            </div>
        </div>
        <div class="li fr">
            <div class="ol yell">电话: <span>8888888888</span></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="__JS__/jquery.js"></script>
<script type="text/javascript" src="__JS__/awardRotate.js"></script>
<script type="text/javascript" src="__JS__/rem.js"></script>
<script type="text/javascript" src="__STATIC__/layui/layui.js"></script>
<script src="__STATIC__/dist/js/swiper.min.js"></script>
<script>
    // 返回
    function go() {
        window.history.go(-1);
    }
    $(function() {
        var height = $('.footerBtn').outerHeight()
        $('.empty').height(height)
        var he = $('._popups').height()
        $('._popups').css({
            'margin-top': -he / 2
        })
        //地址
        var shopL = $('.address .dl .dt').height()
        $('.address .dl .dd .li').css({
            "height":shopL,
            "line-height":shopL+'px'
        })
        // 底部
        var footerEm = $('.footer').height()
        $('.footerEm').height(footerEm)
    })
    //图片加载
    var imgLen = $('.canvasImg img')
    for (var i = 0; i < imgLen.length; i++) {
        var id = 'indexRain' + i
        var img = document.getElementById(id);
        var src = img.getAttribute('src');
        img.setAttribute('src', '');
        img.onload = function() {
            counter = counter + 1
            if (counter == imgLen.length) {
                drawRouletteWheel();
            }
        };
        img.setAttribute('src', src);
    }
    // 弹窗
    function popups(e){
        var cl = $(e).attr('data-class')
        $('#'+cl).show()
        $('.mask').show()
    }
    function close_popups(e){
        var cl = $(e).attr('data-class')
        $('.'+cl).hide()
        $('.mask').hide()
    }
    //滑动
    sweiperPage('dt');
    var touchNum = 0;
    function sweiperPage(name) {
        var startX = 0;
        var startY = 0;
        var end = 0;
        $('.' + name).off('touchstart').on('touchstart', function(e) {
            var touch = e.originalEvent.targetTouches[0];
            startY = touch.pageY
            startX = touch.pageX
        });
        $('.' + name).off('touchmove').on('touchmove', function(e) {
            var that = $(this);
            var touch = e.originalEvent.targetTouches[0];
            endY = touch.pageY;
            endX = touch.pageX;
            distanceX = endX - startX;
            distanceY = endY - startY;
            if (Math.abs(distanceY) < Math.abs(distanceX) && distanceY < 0) {
                console.log(endX - startX)
                if (endX - startX < -50) {
                    touchNum ++
                    if (touchNum == 1) {
                        sideslip(that)
                    }

                }else if (endX - startX > 50) {
                    touchNum ++
                    if (touchNum == 1) {
                        sideslipRight(that)
                    }
                }
            }

        });
    }
    function sideslip(that){
        var left = that.siblings('.dd').width()
        that.parent().animate({
            "margin-left":-left
        },200,function(){
            touchNum = 0;
        });

    }
    function sideslipRight(that){
        that.parent().animate({
            "margin-left":"0"
        },200,function(){
            touchNum = 0;
        });

    }
    // tab
    function tabs(e){
        var idx = $(e).attr('data-idx')
        $('.tabbodys').find('.shopListBox').eq(idx).addClass('show')
        $('.tabbodys').find('.shopListBox').eq(idx).removeClass('hide')
        $('.tabbodys').find('.shopListBox').eq(idx).siblings().removeClass('show')
        $('.tabbodys').find('.shopListBox').eq(idx).siblings().addClass('hide')
    }
</script>
</body>

</html>