
{include file='common/header' /}
<body style="background-color: #F4F4F4;">
    <div class="shopTop clearfixed">
        <!--<div class="li blackImg"><img src="img/black.png" alt=""></div>-->
        <div class="topTitle li">我的</div>
    </div>
    <div class="myTop">
        <div class="clearfixed">
            <div class="li myTopPortRait">
                <img src="{$member.cover}" alt="">
            </div>
            <div class="li clearfixed">
                <div class="myNmae">{$member.name}</div>
                <div class="llow">积分: <span>{$member.integral}</span></div>
            </div>
        </div>
    </div>
    <div class="detail">
        <a href="{:url('index/tabs')}">
        <div class="ul clearfixed top">
            <div class="li">
                <div class="myIcon">
                    <img src="__IMG__/my1.png" alt="">
                </div>
            </div>
            <div class="li">我的钱包和会员卡</div>
            <div class="li fr">
                <div class="arrow" style="margin-top:0.1rem;">
                    <img src="__IMG__/arrow.png" alt="">
                </div>
            </div>
        </div>
        </a>
        <a href="#">
        <div class="ul clearfixed">
            <div class="li">
                <div class="myIcon">
                    <img src="__IMG__/my2.png" alt="">
                </div>
            </div>
            <div class="li">兑换记录</div>
            <div class="li fr">
                <div class="arrow">
                    <img src="__IMG__/arrow.png" alt="">
                </div>
            </div>
        </div>
        </a>
        <a href="#">
        <div class="ul clearfixed">
            <div class="li">
                <div class="myIcon">
                    <img src="__IMG__/my3.png" alt="">
                </div>
            </div>
            <div class="li">积分商城</div>
            <div class="li fr">
                <div class="arrow">
                    <img src="__IMG__/arrow.png" alt="">
                </div>
            </div>
        </div>
        </a>
        <a href="#">
        <div class="ul clearfixed">
            <div class="li">
                <div class="myIcon">
                    <img src="__IMG__/my4.png" alt="">
                </div>
            </div>
            <div class="li">收货地址</div>
            <div class="li fr">
                <div class="arrow">
                    <img src="__IMG__/arrow.png" alt="">
                </div>
            </div>
        </div>
        </a>
        <a href="#">
        <div class="ul clearfixed top">
            <div class="li">
                <div class="myIcon">
                    <img src="__IMG__/my5.png" alt="">
                </div>
            </div>
            <div class="li">收益详情</div>
            <div class="li fr">
                <div class="arrow">
                    <img src="__IMG__/arrow.png" alt="">
                </div>
            </div>
        </div>
        </a>
        <a href="#">
        <div class="ul clearfixed">
            <div class="li">
                <div class="myIcon">
                    <img src="__IMG__/my6.png" alt="">
                </div>
            </div>
            <div class="li">邀请注册</div>
            <div class="li fr">
                <div class="arrow">
                    <img src="__IMG__/arrow.png" alt="">
                </div>
            </div>
        </div>
        </a>
    </div>
    <div class="footerEm"></div>
    <div class="footer">
        <div class="clearfixed">
            <div class="li">
                <a href="{:url('index/location')}">
                <div class="footerImg">
                    <img src="__IMG__/footer1.png" alt="">
                </div>
                <div class="footerText cen">首页</div>
                </a>
            </div>
            <div class="li activeFoot">
                <a href="{:url('index/discountTabs')}">
                <div class="footerImg">
                    <img src="__IMG__/footer2_0.png" alt="">
                </div>
                <div class="footerText cen">优惠储值</div>
            </a>
            </div>
            <div class="li activeFoot">
                <a href="{:url('index/my')}">
                <div class="footerImg">
                    <img src="__IMG__/footer3_0.png" alt="">
                </div>
                <div class="footerText cen">用户中心</div>
            </a>
            </div>
            <div class="li fr">
                <a href="{:url('index/tabs')}">
                <div class="footerText cen discount">优惠买单</div>
            </a>
            </div>
        </div>
    </div>
    {include file='common/footer' /}