
{include file='common/header' /}
<body style="background-color: #F4F4F4;">
    <div class="shopTop clearfixed">
        <div class="li blackImg"><img src="img/black.png" alt=""></div>
        <div class="topTitle li">日常家居</div>
    </div>
    <div class="detail">
        <div class="ul clearfixed">
            <div class="li">订单号</div>
            <div class="li gr fr">233</div>
        </div>
        <div class="ul clearfixed top">
            <div class="li">商品名称</div>
            <div class="li gr fr">二锅头</div>
        </div>
        <div class="ul clearfixed">
            <div class="li">单价</div>
            <div class="li gr fr bl">￥ <span>2.00</span>元</div>
        </div>
        <div class="ul clearfixed">
            <div class="li">邮费</div>
            <div class="li gr fr">包邮</div>
        </div>
        <div class="ul clearfixed">
            <div class="li">总价</div>
            <div class="li bl fr">￥ <span>2.00</span>元</div>
        </div>
        <div class="ul clearfixed">
            <div class="li">收货地址</div>
            <div class="li fr clearfixed">
                <div class="li">
                    <input type="text" placeholder="请填写收货地址" class="defaultInput">
                </div>
                <div class="arrow li" style="margin-top:0.15rem;">
                    <img src="img/arrow.png" alt="">
                </div>
            </div>
        </div>
        <div class="shopBtn">确认兑换</div>
    </div>
    {include file='common/footer' /}