{include file="common/header" /}
<body style="background-color: #F4F4F4;">
    <div class="shopTop clearfixed">
        <div class="li blackImg"><img src="img/black.png" alt=""></div>
            <div class="topTitle li">优惠买单</div>
        </div>
        <form class="layui-form" action="">
            <div class="payment">
                <div class="clearfixed">
                    <div class="li">当前门店:</div>
                    <div class="li">商店名字</div>
                </div>
                <div class="inputBox clearfixed top">
                    <div class="li">消费金额(元)</div>
                    <div class="li fr">
                        <input type="text" class="defaultInput" required lay-verify="required" placeholder="询问服务员后输入">
                    </div>
                </div>
            </div>
            <div class="paymentBalance clearfixed top">
                <div class="li">可用余额 <span class="redT">533.3</span><span class="redT">元</span>支付</div>
                <div class="li fr">
                    <input type="checkbox" name="yyy" lay-skin="switch" lay-text="ON|OFF" checked>
                </div>
            </div>
            <div class="shopBtn" lay-submit lay-filter="formDemo">立即买单</div>
        </form>
    {include file="common/footer" /}