
{include file="common/header" /}
<body style="background-color: #F4F4F4;">
    <div class="shopTop clearfixed">
        <div class="li blackImg"><img src="img/black.png" alt=""></div>
        <div class="topTitle li">百业联盟</div>
    </div>
    <a class="clearfixed billTop">
        <div class="li">
            <div class="billAddress">
                <img src="img/addressDown.png" alt="">
            </div>
        </div>
        <div class="li billPadd">道理烤肉专卖</div>
        <div class="li">
            <div class="addressArrow">
                <img src="img/addressArrow.png" alt="">
            </div>
        </div>
    </a>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <img src="img/rule_popups.png" alt="">
            </div>
            <div class="swiper-slide">
                <img src="img/rule_popups.png" alt="">
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="icon clearfixed top">
        <div class="li four">
            <a href="#">
            <div class="dl">
                <div class="dd">
                    <img src="img/bill1.png" alt="">
                </div>
                <div class="dt gray">抽奖</div>
            </div>
        </a>
        </div>
        <div class="li four">
            <a href="#">
            <div class="dl">
                <div class="dd">
                    <img src="img/bill2.png" alt="">
                </div>
                <div class="dt gray">积分商城</div>
            </div>
            </a>
        </div>
        <div class="li four">
            <a href="#">
            <div class="dl">
                <div class="dd">
                    <img src="img/bill3.png" alt="">
                </div>
                <div class="dt gray">共享商家</div>
            </div>
        </a>
        </div>
        <div class="li four">
            <a href="#">
            <div class="dl">
                <div class="dd">
                    <img src="img/bill4.png" alt="">
                </div>
                <div class="dt gray">我要加盟</div>
            </div>
        </a>
        </div>
    </div>
    <div class="shopListBox top">
        <div class="dl">
            <div class="dt clearfixed">
                <div class="li shopListImg">
                    <img src="img/rule_popups.png" alt="">
                </div>
                <div class="shopListext li" style="width:7.5rem;">
                    <div class="shopListname ellipsis">商品名字</div>
                    <div class="shopListnum clearfixed pTB15">
                        <div class="li">地址</div>
                        <div class="li ellipsis">1</div>
                    </div>
                    <div class="clearfixed">
                        <div class="clearfixed li shopListTime redT">
                            <div class="li">电话:</div>
                            <div class="li">13636498765</div>
                        </div>
                        <div class="li fr gray">距离<span>3.4</span>km</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="dl">
            <div class="dt clearfixed">
                <div class="li shopListImg">
                    <img src="img/rule_popups.png" alt="">
                </div>
                <div class="shopListext li" style="width:7.5rem;">
                    <div class="shopListname ellipsis">商品名字:</div>
                    <div class="shopListnum clearfixed pTB15">
                        <div class="li">地址:</div>
                        <div class="li ellipsis">1</div>
                    </div>
                    <div class="clearfixed">
                        <div class="clearfixed li shopListTime redT">
                            <div class="li">电话:</div>
                            <div class="li">13636498765</div>
                        </div>
                        <div class="li fr gray">距离<span>3.4</span>km</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footerEm"></div>
    <div class="footer">
        <div class="clearfixed">
            <div class="li">
                <a href="#">
                <div class="footerImg">
                    <img src="img/footer1.png" alt="">
                </div>
                <div class="footerText cen">首页</div>
                </a>
            </div>
            <div class="li activeFoot">
                <a href="#">
                <div class="footerImg">
                    <img src="img/footer2_0.png" alt="">
                </div>
                <div class="footerText cen">优惠储值</div>
            </a>
            </div>
            <div class="li activeFoot">
                <a href="#">
                <div class="footerImg">
                    <img src="img/footer3_0.png" alt="">
                </div>
                <div class="footerText cen">用户中心</div>
            </a>
            </div>
            <div class="li fr">
                <a href="#">
                <div class="footerText cen discount">优惠买单</div>
            </a>
            </div>
        </div>
    </div>
    {include file="common/footer" /}