{include file="common/header" /}

<body style="background-color: #F4F4F4;">
    <div class="shopTop clearfixed">
        <div class="li blackImg"><img src="img/black.png" alt=""></div>
        <div class="topTitle li">收货地址</div>
    </div>
    <div class="detail">
        <div class="ul clearfixed">
            <div class="li clearfixed">
                <div class="li">收货人</div>
                <div class="li">
                    <input type="text" placeholder="请填写货人" class="defaultInput leftInput">
                </div>
            </div>
            <div class="arrow li fr">
                <img src="img/arrow.png" alt="">
            </div>
        </div>
        <div class="ul clearfixed">
            <div class="li clearfixed">
                <div class="li">手机号</div>
                <div class="li">
                    <input type="text" placeholder="请填写手机号" class="defaultInput leftInput">
                </div>
            </div>
            <div class="arrow li fr">
                <img src="img/arrow.png" alt="">
            </div>
        </div>
        <div class="ul clearfixed">
            <div class="li clearfixed">
                <div class="li">邮编</div>
                <div class="li">
                    <input type="text" placeholder="请填写邮编" class="defaultInput leftInput">
                </div>
            </div>
            <div class="arrow li fr">
                <img src="img/arrow.png" alt="">
            </div>
        </div>
        <div class="ul clearfixed">
            <div class="browser">
                <!--选择地区-->
                <section class="express-area">
                    <a id="expressArea" href="javascript:void(0)">
                        <dl>
                            <dt>选择地区：</dt>
                            <dd>省 > 市 > 区/县</dd>
                        </dl>
                    </a>
                </section>
                <!--选择地区弹层-->
                <section id="areaLayer" class="express-area-box">
                    <header>
                        <h3>选择地区</h3>
                        <a id="backUp" class="back" href="javascript:void(0)" title="返回"></a>
                        <a id="closeArea" class="close" href="javascript:void(0)" title="关闭"></a>
                    </header>
                    <article id="areaBox">
                        <ul id="areaList" class="area-list"></ul>
                    </article>
                </section>
                <!--遮罩层-->
                <div id="areaMask" class="mask"></div>
            </div>
        </div>
        <div class="ul clearfixed">
            <div class="li clearfixed">
                <div class="li">详细地址</div>
                <div class="li">
                    <input type="text" placeholder="请填写收货地址" class="defaultInput leftInput">
                </div>
            </div>
            <div class="arrow li fr">
                <img src="img/arrow.png" alt="">
            </div>
        </div>
        <div class="shopBtn">保存</div>
    </div>
    {include file="common/footer" /}