{include file="common/header" /}

<body>
    <div class="shopTop clearfixed">
        <div class="li blackImg"><img src="img/black.png" alt=""></div>
        <div class="topTitle li">转增分享</div>
    </div>
    <div class="shareIt relative">
        <div class="shareIt absolute">
            <img src="img/shareIt.jpg" alt="">
        </div>
        <div class="absolute shareItCode">
            <div class="code">
                <img src="img/rule_popups1.png" alt="">
            </div>
            <div class="shareItTitel">转增分享规则</div>
        </div>
        <div class="shareItCon absolute">
            1.规则规则规则规则规则规则规则规则
        </div>
    </div>

    {include file="common/footer" /}