{include file="common/header" /}
<body>
	<!-- 头部 -->
	<div class="shopTop clearfixed">
		<div class="li blackImg"><img src="img/black.png" alt=""></div>
	    <div class="topTitle li">日常家居</div>
	</div>
    <div class="shopBox">
    	<div class="clearfixed shopbor">
			{notempty name="$data"}
			{volist name="data" id="vo"}
    		<div class="li">
    			<div class="padding15">
	    			<div class="shopConTitle ellipsis bottom3">{$vo.goods_name}</div>
	    			<div class="shopConidt gray ellipsis bottom3">{$vo.goods_desc}</div>
	    			<div class="clearfixed bottom3">
	    				<div class="li yellow font14 pr2">{$vo.price}</div>
	    				<div class="li small gray itg pr2">积分</div>
	    				<div class="li smallBtn yellow eca">兑换</div>
	    			</div>
	    			<a href="shopDetail.html">
		    			<div class="shopImg">
		    				<img src="__IMG__/rule_popups.png" alt="">
		    			</div>
	    			</a>
	    		</div>
    		</div>
			{/volist}
			{/notempty}
    	</div>
    </div>
	{include file="common/footer" /}