{include file="common/header" /}

<body>
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
            	<img src="img/rule_popups.png" alt="">
            </div>
            <div class="swiper-slide">
            	<img src="img/rule_popups.png" alt="">
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
    </div>
    <div class="shopDetailBox">
    	<div class="shopDetailConTitle h5 paddingTrbl">商品详情</div>
    	<div class="shopDetailCon gray padingtb paddingLr">
    		
    	</div>
    	<div class="h5 paddingTrbl">兑换须知</div>
    	<div class="gray padingtb paddingLr">
    		注意事项:
    		<br>
    		1,什么什么什么什么什么什么什么
    		<br>
    		2,什么什么什么什么什么什么
    		<br>
    		3,什么什么什么什么什么
    	</div>
    	<div class="clearfixed">
    		<div class="li"><div class="h5 paddingTrbl">兑换记录</div></div>
    		<a href="shopDetailList.html" class="li fr clearfixed shopDetailmore">
    			<div class="li">更多</div>
    			<div class="li shopDetailarrow">
    				<img src="img/arrow.png" alt="">
    			</div>
    		</a>
    	</div>
    	<div class="ul font12">
    		<div class="clearfixed paddingTrbl shopList">
    			<div class="li shoopDtlImg">
    				<img src="img/rule_popups.png" alt="">
    			</div>
    			<div class="li">
    				<div class="shoopDtlname">名字</div>
    				<div class="shoopDtlnum"><span>3</span>件</div>
					<div class="shoopDtltime">购买时间: <span>2018-10-24</span></div>
    			</div>
    		</div>
    		<div class="clearfixed paddingTrbl shopList">
    			<div class="li shoopDtlImg">
    				<img src="img/rule_popups.png" alt="">
    			</div>
    			<div class="li">
    				<div class="shoopDtlname">名字</div>
    				<div class="shoopDtlnum"><span>3</span>件</div>
					<div class="shoopDtltime">购买时间: <span>2018-10-24</span></div>
    			</div>
    		</div>
    		<div class="clearfixed paddingTrbl shopList">
    			<div class="li shoopDtlImg">
    				<img src="img/rule_popups.png" alt="">
    			</div>
    			<div class="li">
    				<div class="shoopDtlname">名字</div>
    				<div class="shoopDtlnum"><span>3</span>件</div>
					<div class="shoopDtltime">购买时间: <span>2018-10-24</span></div>
    			</div>
    		</div>
    	</div>
    	<div class="shopBtn">确认兑换</div>
    </div>
	{include file="common/footer" /}