{include file="common/header" /}

<body style="background-color: #F4F4F4;">
    <div class="shopListBox">
        <div class="dl">
            <div class="dt clearfixed">
                <div class="li shopListImg">
                    <img src="img/rule_popups.png" alt="">
                </div>
                <div class="shopListext li">
                    <div class="shopListname">商品名字</div>
                    <div class="shopListnum clearfixed pTB15 gray">
                        <div class="li">数量</div>
                        <div class="li">1</div>
                    </div>
                    <div class="clearfixed shopListTime gray">
                        <div class="li">兑换时间</div>
                        <div class="li">2016-19-20 12:30:30</div>
                    </div>
                </div>
                <div class="shopListBtn li fr">待发货</div>
            </div>
            <div class="dd clearfixed shopListOrder gray">
                <div class="li">订单号</div>
                <div class="li">167892535456431</div>
                <div class="li fr">支付成功</div>
            </div>
        </div>
        <div class="dl">
            <div class="dt clearfixed">
                <div class="li shopListImg">
                    <img src="img/rule_popups.png" alt="">
                </div>
                <div class="shopListext li">
                    <div class="shopListname">商品名字</div>
                    <div class="shopListnum clearfixed pTB15 gray">
                        <div class="li">数量</div>
                        <div class="li">1</div>
                    </div>
                    <div class="clearfixed shopListTime gray">
                        <div class="li">兑换时间</div>
                        <div class="li">2016-19-20 12:30:30</div>
                    </div>
                </div>
                <div class="shopListBtn li fr red">取消</div>
            </div>
            <div class="dd clearfixed shopListOrder gray">
                <div class="li">订单号</div>
                <div class="li">167892535456431</div>
                <div class="li fr">支付成功</div>
            </div>
        </div>
    </div>
    {include file="common/footer" /}