<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0" />
    <link rel="stylesheet" href="__CSS__/style.css" />
    <meta charset="utf-8" />
    <title>壹零玖</title>
    <link rel="stylesheet" href="__CSS__/reset.css" type="text/css" />
    <link rel="stylesheet" href="__CSS__/style.css" type="text/css" />
    <link rel="stylesheet" href="__CSS__/three.css" type="text/css" />
    <link rel="stylesheet" href="__STATIC__/dist/css/swiper.min.css">
    <link rel="stylesheet" href="__STATIC__/layui/css/layui.css" type="text/css" />
    <link href="__ADMIN__/src/css/modules/layer/default/layer.css" rel="stylesheet">
</head>

<body>
<img src="{$base64}" />
<img src="{$savepath}" />

<script type="text/javascript" src="__JS__/jquery.js"></script>


</body>

