<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 高级表单</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__ADMIN__/css/style.min-v=4.1.0.css" rel="stylesheet">
    <link href="__ADMIN__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__ADMIN__/src/css/layui.css">
    <link href="__ADMIN__/src/css/modules/layer/default/layer.css" rel="stylesheet">
    <!-- 引用控制层插件样式 -->
    <link rel="stylesheet" href="__ADMIN__/file_img/control/css/zyUpload.css" type="text/css">
    <style type="text/css">
        #allmap {
            width: 100%;
            height: 100%;
        }
        .map_input{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100;
            width: 100%;
            height: 40px;
        }
    </style>
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=wTncBH1sbMnqGVr3fmcgt7I4GTM83GcW"></script>

</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>门店
                        <small>新增</small>
                    </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" action="{:url('store/setshop',array('flag'=>'add'))}">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">门店名</label>

                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="shop_name" required>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">客服电话 </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="kefu_phone" required>

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">门店地址</label>
                            <div class="col-sm-10" style="position:relative;">
                                <div id="allmap" style="border: 1px solid red;height:400px;"></div>
                                <div class="map_input">
                                    <div id="searchResultPanel" style="border:1px solid #C0C0C0;width:150px;height:auto; display:none;"></div>
                                </div>
                                <div id="r-result" style="margin-top: 10px;"><span style="font-size: 16px;">请输入地址快速查找:</span>
                                    <input type="text" name="position" required id="suggestId" size="20" value="百度" style="width:80%;line-height: 27px;padding-left: 10px;" />
                                </div>
                            </div>
                            <input type="hidden" name="longitude" value="" id="longitude"/>
                            <input type="hidden" name="latitude" value="" id="latitude"/>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">详细地址 </label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="address" >

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">门店状态</label>
                            <div class="col-sm-10">
                               <select name="status" style="width:100px;height: 27px;font-size: 16px;">
                                   <option value="1">营业</option>
                                   <option value="0">闭店</option>
                               </select>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">门店排序</label>

                            <div class="col-sm-10">
                                <input type="number" class="form-control" name="sort" value="0" required>
                            </div>
                        </div>

                        <div class="hr-line-dashed"></div>
                        <div id="file-pretty" style="min-height:200px;">
                            <div class="form-group">
                                <label class="font-noraml col-sm-2 control-label">上传图片</label>
                            </div>
                            <div id="demo" class="demo" style="height:200px;"></div>
                            <!--<div class="form-group">-->
                                <!--<label class="font-noraml">文件选择（多选）</label>-->
                                <!--<input type="file" multiple="multiple" class="form-control">-->
                            <!--</div>-->
                            <input type="hidden" id='hiddepic' name="pics" value="">
                        </div>
                        <div>



                        </div>


                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存内容</button>
                                <button class="btn btn-white" type="button" onclick="jump()">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="__ADMIN__/js/content.min-v=1.0.0.js"></script>
<script src="__ADMIN__/src/lay/modules/layer.js" charset="utf-8"></script>
<script type="text/javascript" src="__ADMIN__/file_img/jquery-1.7.2.js"></script>
<!-- 引用核心层插件 -->
<script type="text/javascript" src="__ADMIN__/file_img/core/zyFile.js"></script>
<!-- 引用控制层插件 -->
<script type="text/javascript" src="__ADMIN__/file_img/control/js/zyUpload.js"></script>
<!-- 引用初始化JS -->
<script type="text/javascript" src="__ADMIN__/file_img/demo.js"></script>
<!--<script src="__ADMIN__/js/plugins/chosen/chosen.jquery.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/jsKnob/jquery.knob.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/jasny/jasny-bootstrap.min.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/datapicker/bootstrap-datepicker.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/nouslider/jquery.nouislider.min.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/switchery/switchery.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/iCheck/icheck.min.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/metisMenu/jquery.metisMenu.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/clockpicker/clockpicker.js"></script>-->
<!--<script src="__ADMIN__/js/plugins/cropper/cropper.min.js"></script>-->
<!--<script src="__ADMIN__/js/demo/form-advanced-demo.min.js"></script>-->
<script>
    function jump() {
        window.location.href="{:url('store/setshop')}";
    }
    </script>
<script type="text/javascript">
    function G(id) {
        return document.getElementById(id);
    }
    var map = new BMap.Map("allmap");
    map.centerAndZoom("哈尔滨", 12);

    var geoc = new BMap.Geocoder();
    //获取地址
    map.addEventListener("click", function(e) {
        var pt = e.point;
        geoc.getLocation(pt, function(rs) {
            console.log(rs);
            var addComp = rs.addressComponents;
            layer.msg(addComp.province + ", " + addComp.city + ", " + addComp.district + ", " + addComp.street + ", " + addComp.streetNumber);
            $("#suggestId").val(addComp.province+addComp.city+addComp.district+addComp.street+addComp.streetNumber)
        });
    });
    //获取经纬度
    map.addEventListener("click",function(e){
        // alert(e.point.lng + "," + e.point.lat);
        $("#longitude").val(e.point.lng);
        $("#latitude").val(e.point.lat);
        map.clearOverlays();
        var marker = new BMap.Marker(new BMap.Point(e.point.lng,e.point.lat));
        map.addOverlay(marker);
    });

    map.enableScrollWheelZoom();
    map.enableContinuousZoom();

    var ac = new BMap.Autocomplete(    //建立一个自动完成的对象
        {"input" : "suggestId"
            ,"location" : map
        });

    ac.addEventListener("onhighlight", function(e) {  //鼠标放在下拉列表上的事件
        var str = "";
        var _value = e.fromitem.value;
        var value = "";
        if (e.fromitem.index > -1) {
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str = "FromItem<br />index = " + e.fromitem.index + "<br />value = " + value;

        value = "";
        if (e.toitem.index > -1) {
            _value = e.toitem.value;
            value = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        }
        str += "<br />ToItem<br />index = " + e.toitem.index + "<br />value = " + value;
        G("searchResultPanel").innerHTML = str;
    });

    var myValue;
    ac.addEventListener("onconfirm", function(e) {    //鼠标点击下拉列表后的事件
        var _value = e.item.value;
        myValue = _value.province +  _value.city +  _value.district +  _value.street +  _value.business;
        G("searchResultPanel").innerHTML ="onconfirm<br />index = " + e.item.index + "<br />myValue = " + myValue;

        setPlace();
    });

    function setPlace(){
        map.clearOverlays();    //清除地图上所有覆盖物
        function myFun(){
            var pp = local.getResults().getPoi(0).point;    //获取第一个智能搜索的结果
            $("#longitude").val(pp.lng);
            $("#latitude").val(pp.lat);
            map.centerAndZoom(pp, 18);
            map.addOverlay(new BMap.Marker(pp));    //添加标注
        }
        var local = new BMap.LocalSearch(map, { //智能搜索
            onSearchComplete: myFun
        });
        local.search(myValue);
    }
</script>
</body>

</html>
