<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>H+ 后台主题UI框架 - 基本表单</title>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <link rel="shortcut icon" href="favicon.ico">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.staticfile.org/font-awesome/4.4.0/css/font-awesome.css?v=4.4.0" rel="stylesheet">
    <link href="__ADMIN__/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/style.min-v=4.1.0.css" rel="stylesheet">
    <link rel="stylesheet" href="__ADMIN__/src/css/layui.css">

    <link href="__ADMIN__/css/plugins/chosen/chosen.css" rel="stylesheet">
    <link href="__ADMIN__/css/plugins/colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/plugins/cropper/cropper.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/plugins/switchery/switchery.css" rel="stylesheet">
    <link href="__ADMIN__/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="__ADMIN__/css/plugins/nouslider/jquery.nouislider.css" rel="stylesheet">
    <link href="__ADMIN__/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="__ADMIN__/css/plugins/ionRangeSlider/ion.rangeSlider.css" rel="stylesheet">
    <link href="__ADMIN__/css/plugins/ionRangeSlider/ion.rangeSlider.skinFlat.css" rel="stylesheet">
    <link href="__ADMIN__/css/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet">
    <link href="__ADMIN__/css/plugins/clockpicker/clockpicker.css" rel="stylesheet">

    <!-- Data Tables -->
    <link href="__ADMIN__/css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <link href="__ADMIN__/src/css/modules/layer/default/layer.css" rel="stylesheet">
    <style>
        .ss_input {
            margin-left: 18%;
            border: 1px solid #e3e3e3;
            margin-top: 10px;
            height: 50px;
            line-height: 50px;
            width: 50%;
            background: #eee;
            border-radius:10px;
            text-align: center;
        }

        .ss_input input {
            border-radius:10px;
            height: 30px;
            border: 0px;
            margin: auto 10px;
            padding-left: 10px;
        }
    </style>
</head>

<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>储值卡
                        <small>新增</small>
                    </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="post" class="form-horizontal" action="{:url('store/storedcard',array('flag'=>'update','card_id'=>$data['card_id']))}" onsubmit="return checkform();">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">卡名称</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" value="{$data.cardname}" name="cardname" required>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">储值金额</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="storedmoney" value="{$data.storedmoney}" required>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">赠送金额</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="givemoney" value="{$data.givemoney}" required>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">适用门店</label>
                            <div class="col-sm-10">
                                <select data-placeholder="选择门店 输入开头名称可快速查找 " name="shop[]" class="chosen-select" multiple style="width:100%;" tabindex="4">
                                    {volist name='shop' id="vo"}
                                    <option value="{$vo.shop_id}"
                                    <?php
                                                    if(in_array($vo['shop_id'],$applyshop)){
                                                        echo "selected = selected";
                                                    }else{
                                                        echo "";
                                                    }
                                                ?>
                                    hassubinfo="true">{$vo.shop_name}</option>
                                    {/volist}
                                </select>
                                <span class="help-block m-b-none">默认为全门店通用</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">储值卡领取所需金额</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="needpay" value="{$data.needpay}" required>
                                <span class="help-block m-b-none">默认为0免费领取</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-primary" type="submit">保存内容</button>
                                <button class="btn btn-white" type="button" onclick="jump()">取消</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.staticfile.org/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="__ADMIN__/js/content.min-v=1.0.0.js"></script>
<script src="__ADMIN__/js/plugins/iCheck/icheck.min.js"></script>
<script src="__ADMIN__/src/layui.js" charset="utf-8"></script>
<script src="__ADMIN__/js/plugins/jeditable/jquery.jeditable.js"></script>
<script src="__ADMIN__/js/plugins/dataTables/jquery.dataTables.js"></script>
<script src="__ADMIN__/js/plugins/dataTables/dataTables.bootstrap.js"></script>
<script src="__ADMIN__/src/lay/modules/layer.js" charset="utf-8"></script>


<script>
    $(document).ready(function () {
        $(".i-checks").iCheck({checkboxClass: "icheckbox_square-green", radioClass: "iradio_square-green",});
        //console.log(val);
    });
</script>
<script src="__ADMIN__/js/plugins/chosen/chosen.jquery.js"></script>
<script src="__ADMIN__/js/plugins/jsKnob/jquery.knob.js"></script>
<script src="__ADMIN__/js/plugins/jasny/jasny-bootstrap.min.js"></script>
<script src="__ADMIN__/js/plugins/datapicker/bootstrap-datepicker.js"></script>
<script src="__ADMIN__/js/plugins/prettyfile/bootstrap-prettyfile.js"></script>
<script src="__ADMIN__/js/plugins/nouslider/jquery.nouislider.min.js"></script>
<script src="__ADMIN__/js/plugins/switchery/switchery.js"></script>
<script src="__ADMIN__/js/plugins/ionRangeSlider/ion.rangeSlider.min.js"></script>
<script src="__ADMIN__/js/plugins/iCheck/icheck.min.js"></script>
<script src="__ADMIN__/js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="__ADMIN__/js/plugins/colorpicker/bootstrap-colorpicker.min.js"></script>
<script src="__ADMIN__/js/plugins/clockpicker/clockpicker.js"></script>
<script src="__ADMIN__/js/plugins/cropper/cropper.min.js"></script>
<script src="__ADMIN__/js/demo/form-advanced-demo.min.js"></script>



<script>

    function jump() {
        window.location.href="{:url('store/storedcard')}";
    }
    function checkform() {
        var val1 = $("input[name=storedmoney]").val();
        var val2 = $("input[name=givemoney]").val();
        var val3 = $("input[name=needpay]").val();
        if(val1<0 || isNaN(val1)){
            layer.msg('储值金额不对');
            return false;
        }
        if(val2<0 || isNaN(val2)){
            layer.msg('赠送金额不对');
            return false;
        }
        if(val3<0 || isNaN(val3)){
            layer.msg('付费金额不对');
            return false;
        }
    }
</script>
</body>

</html>
